@import '../../styles/variables.sass'

.item
  padding-bottom: 4%
  flex: 0 1 48%
  align-items: stretch
.item:hover
  border: 1px grey solid
.content
  height: 100%
  // background: #eee
  cursor: pointer
  background-repeat: no-repeat
  background-size: contain
  justify-content: center
  align-items: center
  // display: flex
  padding: 10px 15px 1.25rem
.product-text
  font-size: 1rem
  text-align: center
.product-image
  margin-left: auto
  margin-right: auto
  max-width: 215px
  width: 100%
  height: auto
  justify-content: center
  align-items: center
  display: block

.star-ratings-sprite
  background: url("../../assets/images/star-rating-sprite.png") repeat-x
  font-size: 0
  height: 14px
  line-height: 0
  overflow: hidden
  text-indent: -999em
  width: 70px
  margin: 0 auto
  margin-top: 5px

  &-rating
    background: url("../../assets/images/star-rating-sprite.png") repeat-x
    background-position: 0 100%
    float: left
    height: 14px
    display:block
.perfume-type
  color: #737373
